.page {

  --page-padding: var(--global-y);

  padding: var(--page-padding);

  @media only screen and (max-width: 564px) {
    --page-padding: 32px;
  }

  &:before {
    content: "";
    background-image: url('../../images/fish.png');
    background-size: cover;
    position: fixed;
    top: var(--global-y);
    right: 0px;
    bottom: 0px;
    left: 50%;
    opacity: 0.05;
    z-index: -100;
  }
}
