:root {

    // globals
    --global-color__black: #242423;
    --global-color__black-200: #cecece;
    --global-color__white: #fafafa;

    --global-color__green-100: #a5d651;
    --global-color__green-200: #f1fcd3;

    --global-color__red-100: #f95657;
    --global-color__red-200: #ffdfe3;

    --global-color__blue-100: #4dbcfb;
    --global-color__blue-200: #e0f4ff;
    --global-color__blue-300: #b4e7f8;

    --global-color__yellow-100: #ecb417;
    --global-color__yellow-200: #fff8dd;

    // sizes
    --global-font-size: 1.5rem;
    --global-font-size-sm: 1rem;
    --global-font-size-xs: .75rem;
    --global-font-size-md: var(--global-font-size);
    --global-font-size-lg: 2rem;

    // weights
    --global-font-weight: 700;
    --global-font-weight-light: 300;
    --global-font-weight-normal: 500;
    --global-font-weight-bold: 700;

    // font-colors
    --global-font-color: var(--global-color__black);
    --global-font-color-light: rgb(56, 56, 56);

    // backgrounds
    --global-background-color: #fdf1db;

    // borders
    --global-border-thickness: 3px;
    --global-border-radius: 5px;

    // spacers
    --global-padding: 12px;
    --global-padding-sm: 8px;
    --global-padding-md: var(--global-padding);
    --global-padding-lg: 16px;
    --global-padding-xl: 24px;

    --global-margin: 16px;
    --global-margin-xs: 8px;
    --global-margin-sm: 12px;
    --global-margin-md: var(--global-margin);
    --global-margin-lg: 24px;
    --global-margin-xl: 32px;

    --global-y: 100px;

}
