:root {

    // globals
    --global-color__black: #242423;
    --global-color__grey-100: #333533;
    --global-color__grey-200: #CFDBD5;
    --global-color__white: #e8eddf;
    --global-color__shadow: #0f130f;

    // backgrounds
    --background-color: var(--global-color__grey-200);

    // links
    --a-light-color: var(--global-color__white);
    --a-light-color__hover: var(--global-color__grey-200);
    --a-light-color__focus: var(--global-color__grey-200);
    --a-light-color__visited: var(--global-color__grey-200);

    --a-dark-color: var(--global-color__black);
    --a-dark-color__hover: var(--global-color__grey-100);
    --a-dark-color__focus: var(--global-color__grey-100);
    --a-dark-color__visited: var(--global-color__grey-100);

    // buttons
    --button-color__active: #bfbfbf;

    // spacers
    --global-padding: 20px;
    --global-padding__horizontal: 32px;
    --global-padding__vertical: var(--global-padding);

    // cards
    --global-border-radius: 5px;
}
