:root {

    // globals
    --global-color__black: #242423;
    --global-color__grey-100: #333533;
    --global-color__grey-200: #CFDBD5;
    --global-color__white: #fafafa;
    --global-color__shadow: #0f130f;

    // sizes
    --global-font-size-lg: 2rem;
    --global-font-size-md: 1.5rem;
    --global-font-size-sm: 1rem;
    --global-font-size: var(--global-font-size-md);

    // backgrounds
    --global-background-color: #fdf1db;

    // borders
    --global-border-thickness: 3px;

    // spacers
    --global-padding: 12px;
    --global-padding__horizontal: 32px;
    --global-padding__vertical: var(--global-padding);
    --global-margin: 16px;
    --global-y: 100px;

    // cards
    --global-border-radius: 5px;
}
