@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body { height: 100% }

body {
  margin: 0;
  font-family: 'Valera Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--global-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  z-index: -101;
  display: flex;
  flex-direction: column;
  height: 100%;
  // grid-template-rows: var(--global-y) auto;
  font-size: var(--global-font-size);
  letter-spacing: -1px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}