.masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--global-padding);
    border-bottom: var(--global-border-thickness) solid var(--global-color__black);
}